@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500&display=swap");

* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "Noto Sans KR",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", sans-serif;
}

*:focus {
  outline: none !important;
}

*:active {
  outline: none !important;
}

.ReactModal__Overlay {
  opacity: 0;
  transform: translateY(-50%);
  transition: all 700ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
  transform: translateY(0px);
}

.ReactModal__Overlay--before-close {
  opacity: 0;
  transform: translateY(-500px);
}

table {
  border-width: 2px !important;
  table-layout: fixed !important;
}

.timetable > tbody > tr > td {
  width: 65px;
  max-width: 60px !important;
  font-size: 11px;
}

@media (max-width: 768px) {
  .timetable > tbody > tr > td {
    width: 40px;
    max-width: 45px !important;
    font-size: 10px;
  }
}

.noData {
  height: 100%;
}

.SDU:before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
  background-color: rgba(231, 228, 52, 0.8);
}

.ICU:before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
  background-color: rgba(18, 19, 87, 0.8);
}

.HYU:before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
  background-color: rgba(35, 105, 73, 0.8);
}

.OCU:before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
  background-color: rgba(219, 96, 59, 0.8);
}

.영어:before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
  background-color: rgba(145, 5, 238, 0.8);
}

.항우기학부:before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
  background-color: rgba(0, 0, 0, 0.8);
}

.항전정학부:before {
  content: "";
  display: inline-block;
  margin-right: 12px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgba(24, 44, 109, 0.8);
}

.항공재료:before {
  content: "";
  display: inline-block;
  margin-right: 12px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #0b644c;
}
.신소재:before {
  content: "";
  display: inline-block;
  margin-right: 12px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #0b644c;
}

.항공운항:before {
  content: "";
  display: inline-block;
  margin-right: 12px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgb(15, 12, 58);
}
.조종융합:before {
  content: "";
  display: inline-block;
  margin-right: 12px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgb(15, 12, 58);
}

.경영학부:before {
  content: "";
  display: inline-block;
  margin-right: 12px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgba(0, 0, 255, 0.9);
}

.항공경영융합:before {
  content: "";
  display: inline-block;
  margin-right: 12px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgba(0, 0, 255, 0.9);
}

.자율주행융합전공:before {
  content: "";
  display: inline-block;
  margin-right: 12px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgba(31, 180, 155, 0.9);
}

.항공정비융합:before {
  content: "";
  display: inline-block;
  margin-right: 12px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.9);
}

.인문자연학부:before {
  content: "";
  display: inline-block;
  margin-right: 12px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgba(233, 187, 201, 0.9);
}

.항교물:before {
  content: "";
  display: inline-block;
  margin-right: 12px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgba(160, 160, 160, 0.9);
}

.항공우주법:before {
  content: "";
  display: inline-block;
  margin-right: 12px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgba(160, 160, 160, 0.9);
}

.물류:before {
  content: "";
  display: inline-block;
  margin-right: 12px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgba(160, 160, 160, 0.9);
}
.항공교통:before {
  content: "";
  display: inline-block;
  margin-right: 12px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgba(160, 160, 160, 0.9);
}

.소프트:before {
  content: "";
  display: inline-block;
  margin-right: 12px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgba(74, 142, 197, 0.9);
}

.자유전공학부:before {
  content: "";
  display: inline-block;
  margin-right: 12px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgba(156, 13, 13, 0.9);
}

/* .항공재료:before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
  background-color: rgba(23, 97, 36, 0.8);
} */
