@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500&display=swap");

* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "Noto Sans KR",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", sans-serif;
}

*:focus {
  outline: none !important;
}

*:active {
  outline: none !important;
}

.ReactModal__Overlay {
  opacity: 0;
  transform: translateY(-50%);
  transition: all 700ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
  transform: translateY(0px);
}

.ReactModal__Overlay--before-close {
  opacity: 0;
  transform: translateY(-500px);
}

table {
  border-width: 2px !important;
}

td {
}
